<h1>Infinite Scroll - Lazy Loading</h1>

<div class="input-group mb-3">
    <button type="button" class="btn btn-light" matTooltip="Add an element">+</button>
    <input class="form-control" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</div>
<div class="example-container mat-elevation-z8">

    <mat-table #table [dataSource]="dataSource" (scroll)="onTableScroll($event)" matSort>

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="showId(element.position)"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="showId(element.position)"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="showId(element.position)"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="showId(element.position)"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>