<h2 mat-dialog-title>Edit Element</h2>
<mat-dialog-content class="mat-typography">
    <p>Name: </p>
    <input (keyup)="applyName($event.target.value)" value="{{name}}">
    <p>Weigth: </p>
    <input (keyup)="applyWeight($event.target.value)" value="{{weight}}">
    <p>Symbol: </p>
    <input (keyup)="applySymbol($event.target.value)" value="{{symbol}}">
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>