/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-icon {
    cursor: pointer
}

.mat-row:hover {
    background-color: darkgrey;
    cursor: pointer
}

tr.mat-row,
tr.mat-footer-row {
    height: 30px !important;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px;
}